/* -------- 공통으로 사용되는 속성 -------- */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------- */

.mainPage {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: radial-gradient(circle, #ff7e5f, #c0b7f5);
    /* 원형 그라디언트 */
}

.main-test-container {
    width: 60%;
    flex-direction: column;
    padding: 20px;
    /* common-flex속성 적용 */
}

.main-test-text {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.main-test-text2 {
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    color: white;
    margin-bottom: 60px;
}

.main-test-Btn {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    background-color: white;
    border-radius: 30px;
    border-style: none;
    color: rgb(242, 152, 122);
}

.mainSecond {
    width: 100vw;
    height: 600px;
    background-color: #c0b7f5;
    /* common-flex 속성 적용 */
    flex-direction: column;
}
.mainSecond-box-container {
    width: 100vw;
    background-color: lightgrey;
    
}
.mainSecond-text-box {
    width: 100%;
    /* background-color: blue; */
    padding-left: 80px;
    margin-bottom: 100px;

}

.mainSecond-text {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.mainSecond-box {
    width: 320px;
    height: 320px;
    /* background-color: blue; */
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    
}

.mainSecond-box:hover {
    animation: circleAni 2s;
    
}
.mainSecond-box:not(:hover) {
    animation: circleNotAni 2s;
}

.mainSecond-box:hover .mainSecond-box-small {
    opacity: 1;
    transition: all 2s;
}
.mainSecond-box:not(:hover) .mainSecond-box-small {
    opacity: 0;
    transition: all 1s;
}

@keyframes circleNotAni {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes circleAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mainSecond-box-small {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* background-color: purple; */
    position: absolute;
    opacity: 0;
}

.mainSecond-box-small:nth-child(1) {
    /* bottom: 93%; */
    /* left: 37%; */
    top: 0%;

}

.mainSecond-box-small:nth-child(2) {
    /* bottom: 60%; */
    /* right: 89%; */
    left: 3%;
    top: 25%;
}

.mainSecond-box-small:nth-child(3) {
    /* bottom: 60%;
    left: 89%; */
    right: 3%;
    top: 25%;
}

.mainSecond-box-small:nth-child(4) {
    /* top: 66%;
    right: 86%; */
    left: 6%;
    bottom: 18%;
}

.mainSecond-box-small:nth-child(5) {
    bottom: 0%;
}

.mainSecond-box-small:nth-child(6) {
    right: 6%;
    bottom: 18%;
}

.spring:nth-child(1) { background-color: purple; }
.spring:nth-child(2) { background-color: lightblue; }
.spring:nth-child(3) { background-color: pink; }
.spring:nth-child(4) { background-color: yellow;}
.spring:nth-child(5) { background-color: grey; }
.spring:nth-child(6) { background-color: green;}

.summer:nth-child(1) { background-color: purple; }
.summer:nth-child(2) { background-color: lightblue; }
.summer:nth-child(3) { background-color: pink; }
.summer:nth-child(4) { background-color: yellow;}
.summer:nth-child(5) { background-color: grey; }
.summer:nth-child(6) { background-color: green;}

.fall:nth-child(1) { background-color: purple; }
.fall:nth-child(2) { background-color: lightblue; }
.fall:nth-child(3) { background-color: pink; }
.fall:nth-child(4) { background-color: yellow;}
.fall:nth-child(5) { background-color: grey; }
.fall:nth-child(6) { background-color: green;}

.winter:nth-child(1) { background-color: purple; }
.winter:nth-child(2) { background-color: lightblue; }
.winter:nth-child(3) { background-color: pink; }
.winter:nth-child(4) { background-color: yellow;}
.winter:nth-child(5) { background-color: grey; }
.winter:nth-child(6) { background-color: green;}

.mainSecond-box-circle {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* position: absolute; */
/* transform: unset; */
transform: none;

}


  















/* 반응형  */
@media screen and (max-width: 768px) {
    .main-test-container {
        width: 85%;
        text-align: center;
    }

    .main-test-text {
        font-size: 45px;
    }

    .main-test-Btn {
        width: 180px;
        height: 45px;
        font-size: 20px;
    }
}