
.personal-mainContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1a237e 0%, #8041cd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    font-family: "Noto Sans KR", serif;
}
.personal-test-container {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
.personal-test-question {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 800;
}
.personal-test {
    width: 250px;
    height: 300px;
    background-color: grey;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-test-option {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.personal-start {
    width: 280px;
    height: 60px;
    background: linear-gradient(135deg, #1a237e 0%, #8041cd 100%);
    color: white;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 80px;
}
.personal-start-text {
    width: 500px;
    height: 200px;
    /* background-color: grey; */
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}
.personal-start-btn {
    width: 130px;
    height: 50px;
    background: linear-gradient(135deg, #1a237e 0%, #8041cd 100%);
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(180, 168, 218);
    border-width: 5px;
}
.personal-test-submit {
    width: 80%;
    height: 60px;
    /* background: linear-gradient(135deg, #1a237e 0%, #8041cd 100%); */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
    /* color: white; */
}
.personal-test-submit p {
    font-size: 20px;
}
.personal-test-submit span {
    font-weight: 900;
}
.personal-detail {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.submit-container {
    width: 80%;
    height: 90%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
.color-container {
    width: 100%;
    height: 50px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.color-best{
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}
.color {
    width: 30px;
    height: 30px;
    border-radius: 100%;

}
.spring-color-1 {
    margin-left: 13px;
    background-color: #FF9F7F;
}
.spring-color-2 {
    background-color: #FFB6A6;
}
.spring-color-3 {
    background-color: #FFD700;
}
.spring-color-4 {
    background-color: #F6A5B0;
}
.summer-color-1{
    background-color: #A3C1D1;
}
.summer-color-2 {
    background-color: #C9C9FF;
}
.summer-color-3 {
    background-color: #B0D0D3;
}
.summer-color-4 {
    background-color: #5F7F97;
}
.fall-color-1 {
    background-color: #D25F44;
}
.fall-color-2 {
    background-color: #A36B3A;
}
.fall-color-3 {
    background-color: #6B8E23;
}
.fall-color-4 {
    background-color: #DDA15E;
}
.winter-color-1 {
    background-color: #1F3A6A;
}
.winter-color-2 {
    background-color: #F0F8FF;
}
.winter-color-3 {
    background-color: #2E1A47;
}
.winter-color-4 {
    background-color: #FF5F5F;
}
.color-explain {
    width: 80%;
    height: 100px;
    background: linear-gradient(135deg, #1a237e 0%, #8041cd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    padding: 25px;
    font-size: 17px;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
}

.color-styleTip {
    font-size: 20px;
    font-weight: 800;
    margin-Top: 20px;
    margin-bottom: 20px;
    /* text-decoration: dashed; */
}
.color-styleContainer {
    width: 100%;
    height: 250px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-style {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(247, 244, 255);
    /* border-style: solid 1px black; */
    /* border-width: 3px; */
    /* border-color:  black; */
    /* border-style: solid; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.color-style-sort {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.color-style-text {
    margin-bottom: 40px;
}