@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

.app {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-image: radial-gradient(circle, #ff7e5f, #c0b7f5);
    /* 원형 그라디언트 */
    /* border-width: 2px; */
    /* border-color: whtie; */
    border-bottom: 2px solid white;
}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.navbar-main {
    margin-right: auto;
}

.navbar-main-logoText {
    font-weight: 700;
}

.navbar-main-logoText-span {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 4px;
    font-size: 30px;
    /* color: linear ~~ */
    color: rgb(188, 152, 247);
}

.navbar-about,
.navbar-personal {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.navbar-about {
    width: 100px;
    height: 40px;
}

.navbar-personal {
    width: 170px;
    height: 40px;
}

.navbar-about:hover,
.navbar-personal:hover {
    /* background-color: rgb(241, 241, 241); */
    background-color: rgb(187, 168, 199);
}

/* 반응형  */
@media screen and (max-width: 768px) {
    .navbar {
        height: 60px;
    }
    .navbar ul {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-main-logoText-span {
        font-size: 25px;
    }
    .navbar-about,
    .navbar-personal {
        margin-right: 0px;
    }
    .navbar-about {
        width: 80px;
    }
    .navbar-personal {
        width: 130px;
    }
}